---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Studentske blokade!</h1>

			<p>
				Pad nadstrešnice na Železničkoj stanici u Novom Sadu 1.11.2024. kojim je nastradalo 15 ljudi inicirao je spontana okupljanja, u vidu 15 minuta ćutanja za žrtve. Građani se i dalje okupljaju na različitim mestima, uvek u isto vreme, u 11:52.
			</p>

			<p>
				U blokadama je trenutno oko 60 fakulteta i viših škola širom Srbije.
			</p>

			<h2>Zahtevi</h2>

			<ul>
				<li>Objava celokupne dokumentacije koja se tiče rekonstruisanja Železničke stanice u Novom Sadu koja je trenutno nedostupna javnosti.</li>
				<li>Zahtevamo potvrdu nadležnih organa o identitetu svih lica za koja postoji osnovana sumnja da su fizički napala studente i profesore, kao i pokretanje krivičnih postupaka protiv njih. Takođe zahtevamo razrešenje pomenutih lica ukoliko se pokaže da su ista javni funkcioneri.</li>
				<li>Odbacivanje krivičnih prijava protiv uhapšenih i privedenih studenata na protestima, kao i obustavu već pokrenutih krivičnih postupaka.</li>
				<li>Povećanje budžeta za visoko obrazovanje u iznosu od 20%.</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
