---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="Kontakt"
        description="Kontakti svih fakulteta u blokadi"
>
    <h2>Instagram</h2>
    <ul>
        <li>
            <a href="#">@studenti_u_blokadi</a>
        </li>
        <li>
            <a href="#">@blokada.matf</a>
        </li>
    </ul>
</Layout>
