---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <h1>Kontakt</h1>
            <section>
                <h2>Studenti u blokadi</h2>
                <div class="nalozi">
                    <a href="https://instagram.com/studenti_u_blokadi">Instagram</a>
                    <a href="https://www.facebook.com/people/Studenti-u-blokadi-UB/61571631694236/">Facebook</a>
                    <a href="https://x.com/studentblokade">Twitter</a>
                </div>
            </section>
            <section>
                <h2>Kontakti pojedinačnih fakulteta</h2>
                <div class="nalozi">
                    <a href="https://www.instagram.com/blokada.arh.bg">Arhitektonski</a>
                    <a href="https://www.instagram.com/grf.blokade">Građevinski</a>
                    <a href="https://www.instagram.com/etfublokadi">Elektrotehnički</a>
                    <a href="https://www.instagram.com/masinci.u.blokadi">Mašinski</a>
                    <a href="https://www.instagram.com/poljprivredniblokada">Poljoprivredni</a>
                    <a href="https://www.instagram.com/blokada.rgf">Rudarsko-geološki</a>
                    <a href="https://www.instagram.com/blokada.sfbg">Saobraćajni</a>
                    <a href="#">Tehnički u Boru</a>
                    <a href="https://www.instagram.com/tmf.blokada">Tehnološko-metalurški</a>
                    <a href="https://www.instagram.com/blokada.fon">Organizacione nauke</a>
                    <a href="https://www.instagram.com/blokada.sumarski">Šumarski</a>
                    <a href="https://www.instagram.com/blokada.gef">Geografski</a>
                    <a href="https://www.instagram.com/blokada.bioloski">Biološki</a>
                    <a href="https://www.instagram.com/blokadaffh">Fizička Hemija</a>
                    <a href="https://www.instagram.com/fizika_u_blokadi">Fizički</a>
                    <a href="https://www.instagram.com/blokada.hf">Hemijski</a>
                    <a href="https://www.instagram.com/blokada.matf">Matematički</a>
                    <a href="https://www.instagram.com/blokada.mfub">Medicinski</a>
                    <a href="https://www.instagram.com/stomfbg_blokada">Stomatološki</a>
                    <a href="https://www.instagram.com/blokada.ffubg">Farmaceutski</a>
                    <a href="https://www.instagram.com/fvm_blokade">Veterinarska medicina</a>
                    <a href="https://www.instagram.com/ekof.blokada">Ekonomski</a>
                    <a href="#">Pravoslavni bogoslovski</a>
                    <a href="https://www.instagram.com/blokada_uf">Obrazovanje učitelja i vaspitača</a>
                    <a href="https://www.instagram.com/blokada.fb">Bezbednosti</a>
                    <a href="https://www.instagram.com/fasper_blokada">Specijalna edukacija i rehabilitacija</a>
                    <a href="https://www.instagram.com/blokada.fpn">Političke nauke</a>
                    <a href="https://www.instagram.com/dif.blokada">Sport i fizičko vaspitanje</a>
                    <a href="https://www.instagram.com/filozofi.u.blokadi">Filozofski</a>
                    <a href="https://www.instagram.com/filoloski.blokada">Filološki</a>
                    <a href="https://www.instagram.com/blokada_pravni">Pravni</a>
                </div>
            </section>
        </main>
        <Footer />
    </body>
</html>

<style>
    .nalozi {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    a {
        color: rgb(var(--black));
        padding: 1rem 2rem;
        border: 1px solid rgb(var(--black));
        border-radius: .5rem;
        text-decoration: none;
    }

    a:hover {
        color: rgb(var(--gray));
        border-color: rgb(var(--gray));;
    }

    section {
        margin-top: 3rem;
    }

    h2 {
        margin-bottom: 1rem;
    }
</style>